html, body {
	margin:0;
	padding:0;
	min-height:100%;
	width:640px;
}

body > ul {
	margin:0 auto;
	height:100%;
	width:320px;
	float:left;
	background:lightblue;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-drag:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body > ul > li {
	display:block;
	width:320px;
	height:240px;
	padding:16px;
	/*position:absolute;*/
	-webkit-transform: translateZ(0);
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body > ul > li.expanded {
	height:400px;
}
body > ul > li > div {
	border:1px solid black;
	background:lightgreen;
	font-size:10em;
	text-align:center;
	padding:16px;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body > ul li.dragging div, body > ul li.returning div {
	background:pink;
	cursor:move;
}
body > ul li.returning {
	/*-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-ms-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;*/
}
body > ul li.placeholder div {
	background:#333;
	border:3px dashed #888;
	border-radius:20px;
	opacity:0.2;
}

ul li#slider {
	right:0;
	padding:0;
}
ul li#slider ul {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
ul li#slider ul li {
	padding:15px;
}