html, body {
	margin:0;
	padding:0;
	height:100%;
	width:900px;
}

body > ul {
	overflow:auto;
	margin:0 auto;
	padding:20px 0 0 20px;
	height:100%;
	width:600px;
	background:lightblue;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-drag:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body > ul > li {
	display:block;
	width:200px;
	height:200px;
	float:left;
	border:1px solid black;
	background:lightgreen;
	margin:0 20px 20px 0;
	position:absolute;
	-webkit-transform: translateZ(0);
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
body > ul li.dragging {
	z-index:100;
	background:pink;
	cursor:move;
}

ul li#slider {
	right:0;
}
ul li#slider ul {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
ul li#slider ul li {
	font-size:10em;
	padding:15px;
	text-align: center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}